* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  list-style: none;
}

.navbar {
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
  background-color: wheat;
}

.habit.icon {
}

.habit {
  padding: 1.5rem;
}

.habit-name {
  margin-right: 0.4rem;
  font-size: 2em;
}

.habit-count {
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: green;
  border-radius: 50%;
}

.habit-button {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.habit-increase,
.habit-decrease {
  background-color: yellow;
}

.habit-delete {
  background-color: gray;
}
