* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
  background-color: wheat;
}

.navbar-icon {
  font-size: 1.5rem;
  color: green;
}

.navbar-title {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.navbar-count {
  display: inline-block;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: white;
  background-color: green;
  border-radius: 50%;
  text-align: center;
}

.habit {
  padding: 1.5rem;
}

.habit-name {
  margin-right: 0.4rem;
  font-size: 2em;
}

.habit-count {
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: green;
  border-radius: 50%;
}

.habit-button {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.habit-increase,
.habit-decrease {
  background-color: yellow;
}

.habit-delete {
  background-color: gray;
}
